<div class="container">
  <h1>"{{model.title}}"</h1>
  <h4>- {{model.author}}</h4>
  <p>{{model.notes}}</p>

  {{new-answer saveAnswer="saveAnswer" question=model}}

  <hr>

  <h3>Answers</h3>
  {{#each model.answers as |answer|}}
    <ul>
      <li><h5>
        {{answer.score}}
        <span {{action 'raiseScore' answer}} class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span {{action 'lowerScore' answer}} class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 
        <b>{{answer.author}}:</b> "{{answer.text}}"</h5></li>

    </ul>
  {{/each}}
</div>
