<div class="container">

  <div class="row">
    <div class="col-xs-1">
      {{edit-question editQuestion="editQuestion" question=model}}
    </div>
    <div class="col-xs-1">
      <h1><span {{action 'destroyQuestion' model}} class="glyphicon glyph-click glyphicon-trash" aria-hidden="true"></span></h1>
     </div>
  </div>


  <h1>"{{model.title}}"</h1>
  <h4>- {{model.author}}</h4>
  <p>{{model.notes}}</p>

  {{new-answer saveAnswer="saveAnswer" question=model}}

  <hr>

  <h3>Answers</h3>
  {{#each model.answers as |answer|}}
    <ul>
      <li><h5>
        <b>{{answer.score}}</b>
        <span {{action 'raiseScore' answer}} class="glyphicon glyph-click glyphicon-thumbs-up" aria-hidden="true"></span>

        <span {{action 'lowerScore' answer}} class="glyphicon glyph-click glyphicon-thumbs-down" aria-hidden="true"></span>

        <b>{{answer.author}}:</b> "{{answer.text}}"

        <span {{action 'destroyAnswer' answer}} class="glyphicon glyph-click glyphicon-remove" aria-hidden="true"></span>
      </h5></li>
    </ul>
  {{/each}}
</div>
