<div class="container">

  {{edit-question editQuestion="editQuestion" question=model}}

  <h1>"{{model.title}}"</h1>
  <h4>- {{model.author}}</h4>
  <p>{{model.notes}}</p>

  {{new-answer saveAnswer="saveAnswer" question=model}}

  <hr>

  <h3>Answers</h3>
  {{#each model.answers as |answer|}}
    <ul>
      <li><h5>
        <b>{{answer.score}}</b>
        <span {{action 'raiseScore' answer}} class="glyphicon glyph-click glyphicon-thumbs-up" aria-hidden="true"></span>

        <span {{action 'lowerScore' answer}} class="glyphicon glyph-click glyphicon-thumbs-down" aria-hidden="true"></span>

        <b>{{answer.author}}:</b> "{{answer.text}}"

        <span {{action 'deleteAnswer' answer}} class="glyphicon glyph-click glyphicon-remove" aria-hidden="true"></span>
      </h5></li>

    </ul>
  {{/each}}
</div>
